<h1>Edit Your Legendary Weapon</h1>

<%= form_with model: @inventory_item, local: true do |f| %> 
  <p>
    <%= f.label :weapon_name, "Weapon Name:" %> 
    <%= f.text_field :weapon_name %><br>
    <br>
  </p>
  <%= f.submit "Submit Weapon Name" %> 
<% end %> 