<h1><%= @inventory_item.champion.name %></h1>
<p>Weapon Type: <%= @inventory_item.weapon.weapon_type %></p>
<p>Weapon Name: <%= @inventory_item.weapon_name %><p>
<hr>
# <p>some sort of back link here</p>