<h1><%= @user.name %></h1>

<h2>Your Champions:</h2>
<ul>
  <% @user.champions.each do |champion| %> 
    <li>
      <%= link_to champion.name, champion_path(champion) %> 
    </li> 
  <% end %> 
</ul> 

<%= link_to "Create New Champion", new_champion_path %> 
<%= link_to "Log Out", logout_path %> 