<h1><%= @champion.name %>'s Weapons</h1> 

<ul>
  <% @champion.inventory_items.each do |weapon| %> 
    <li>
      <p><%= weapon.weapon_name %></p>
    </li>
  <% end %> 
</ul> 

<p>
  <%= link_to "Your Champion", champion_path(@champion) %>
</p> 