<% @weapon.inventory_items.each do |item| %>
  <h1><%= item.weapon_name %></h1> 
<% end %> 

<h3><%= @weapon.weapon_type %></h3><br>
<br>
<hr>

<p>
  <%= link_to "Delete Weapon", weapon_path(@weapon), method: :delete %><br>
  <br>
  <%= link_to "Your Weapons", weapons_path %><br>
  <br>
</p>