<h1>Welcome to the League of Champions</h1> 
<hr>
<h3>
  <%= link_to "Log In with Google", '/auth/google_oauth2' %><br>
  <br>
  <%= link_to "Login", login_path %><br>
  <br>
  <%= link_to "Sign Up", signup_path %> 
</h3>