<h1>Your Champions</h1>

  <ul>
    <% @champions.each do |champion| %> 
      <li> 
        <p><%= link_to champion.name, champion_path(champion) %></p>
      </li> 
    <% end %> 
  </ul> 
</p>

<p>
  <%= link_to "Create New Champion", new_champion_path %><br>
</p>